/* Expenses.css */

.dark-mode {
  background-color: rgb(155, 155, 155);}

  .download-button {
    background-color: #006790;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
  }
  .expense-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
  }

  .premium-button {
    background-color: #006790;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
  }



.expenses-form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 20px;

  }
  
  .expense-amount,
  .expense-description,
  .expense-category {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .add-button {
    background-color: #006790;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  /* You can add more styles as needed */
  